.App {
  text-align: center;
}

#navbar {
  background-color: #333; /* Background color of the navigation bar */
  padding: 10px;
}

#navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

.navLink {
  text-decoration: none;
  color: #fff; /* Link text color */
  margin: 0 15px; /* Add space between links */
}

.navLink:hover {
  text-decoration: underline; /* Underline link on hover */
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
